        body{
            text-align: center;
        }
        .cont1{
            padding: 35px;
            margin: 30px;
           align-items: center;
            border-radius: 17px;
            background:linear-gradient(130deg, blue, green, brown);
            min-width: 0;
            width: auto;
            min-height: 0;
            height: auto;
            box-shadow: 15px 15px 25px rgba(245, 233, 3, 0.977);
        }
        
        .contbody{
            padding: 10px;
            border:2px solid white;
            min-height: 0;
            min-width: 0;
            width: auto;
            height: auto;
            border-radius: 17px;
            background:linear-gradient(150deg,yellow,green,blue);
            display: none;
        }
.contBody2,.contBody1,.contBody3{
            display: flex;
            padding: 10px;
            gap: 45px;
            min-width: 0;
            min-height: 140px;
            height: auto;
            margin-bottom: 15px;
          
        }

.childbody11,.childbody21,.childbody22,.childbody12,.childbody31,.childbody32{
        flex:1;
        border: 2px solid white;

        border-radius: 13px;
        background-color: rgb(206, 194, 194);

        color: rgb(247, 3, 174);
        padding: 10px;
        overflow-y:auto;
        font-size: 35px;
        font-weight: bold;
        transition: transform 0.8s ease;

        }
.childbody11:hover,.childbody12:hover,.childbody22:hover,.childbody21:hover,.childbody31:hover,.childbody32:hover{
           transform: scale(1.1);
            color: white;
            background-color: rgb(84, 210, 0);

        }
 
        .input{
            flex: 3;

        }
        button{
            flex: 1;    
        }
        button,.input{
                background-color: rgb(250, 250, 254);     
            padding: 10px;
             font-size: 30px;
             min-height: 30px;
              color: rgb(182, 5, 226);
             min-width: 0; 
           transition: transform 0.8s ease;
            border-radius: 17px;
        }
        
        button:hover,.input:hover{
            background-color: aqua;
            color: black;
            transform: scale(1.1);
        }
        button:active{
            background-color: green;
            color: white;
            transform: scale(0.8);
        }
       
        .headcont{
            display: flex;
              padding: 20px;
           gap: 55px;
          align-items: center;
        }
        .error{
            min-width: 0;
            width: auto;
            background:linear-gradient(200deg,green,rgb(4, 80, 245),rgb(255, 0, 0));
            margin-top: 10px;
            border-radius: 20px;
            padding: 10px;
            font-family: arial;
            font-size: 40px;
            color: white;
            display: none;
        }
.h21{
            background-color: white;
          border-radius: 20px;
          min-height: 40px;
          font-size: 45px;

          color: #6b7e22;
          transition: transform 0.25s ease;
          margin: 10px 60px 10px 60px;
        }
        .h21:hover{
            transform: scale(1.06);
        }
