      body {
        font-family: Arial;
        text-align: center;
        padding: 40px;
      }

      input {
        flex: 3;
        padding: 8px;
        margin: 10px;
        text-align: center;
        min-height: 30px;
        border: 2px solid blue;
      }
      button {
        padding: 3px;
        background: #4361ee;
        color: white;
        border: none;
        flex: 1;
      }
      button:active {
        transform: scale(1.159);
        background-color: green;
      }
      button,
      input {
        font-size: 30px;
        transition: transform 0.25s ease;
      }
      button:hover,
      input:hover {
        transform: scale(1.1);
      }

      .header {
        margin: 20px;

        display: flex;
        gap: 40px;
      }
      #result {
        margin: 20px;
        font-size: 18px;
        display: none;
        border: 2px solid green;
        row-gap: -5px;
        column-gap: 20px;
        grid-template-columns: repeat(2, 1fr);
        padding: 20px;
        border-radius: 19px;
        background: linear-gradient(
          60deg,
          rgb(9, 244, 24),
          blue,
          rgba(19, 1, 1, 0.813)
        );
      }

      .cont {
        border: 2px solid blue;
        min-width: 0;
        width: auto;
        color: white;
        border-radius: 20px;
        background: linear-gradient(
          140deg,
          rgb(0, 255, 225),
          rgb(107, 0, 128),
          green,
          red
        );
      }
      p {
        border-radius: 19px;
        border: 2px solid blueviolet;
        min-height: 40px;
        padding: 15px;
        color: black;
        background-color: rgb(215, 206, 195);
        transition: transform 0.25s ease;
      }
      p:hover {
        transform: scale(1.1);
      }

      #city,
      #getWeather {
        border-radius: 20px;
      }
      #city {
        flex: 3;
      }
      #getWeather {
        flex: 1;
      }
