h1,h2{
               color: white;
    text-shadow: 0 2px 8px rgba(0, 235, 39, 0.92);
            }
body {
    align-items: center;
    background: linear-gradient(130deg, #04f02ced, #2802ff, #f0e005);
    min-height: 50vh;
    height: auto;
}

            .c1{
                    background: linear-gradient(130deg, #02e8e0, #ee720d, #dc03b4);
    min-height: 50vh;
    height: auto;

                border-radius: 26px;
                min-height: 0;
                min-width: 0;
                width: auto;
             text-align:  center;
                height: auto;
                padding: 20px;
                margin: 20px 70px 20px 70px;
               
            }
            .done{
                text-decoration: line-through;
                color: rgba(242, 22, 6, 0.756);
            }
          
            .spantag{
                flex: 3;
              border: 1.5px solid rgb(15, 236, 48);
              min-width: 0;
             border-radius: 7px;
             background-color: white;
              color: rgb(13, 14, 13);
              overflow-wrap: anywhere;
            }
            .deletebtn{
                background-color: red;  
            }
            .donebtn{
           background-color: blue;
            }
            .donebtn,.deletebtn{
                flex: 1;
                border: none;
                 border-radius: 35px;
                color: white;
            }
        .donebtn,.deletebtn,.spantag{
                box-shadow: 4px 4px yellowgreen;
                min-height: 35px;
                height: auto;
              padding: 15px;
              font-weight: bold;
              font-size: 25px;
        }
          
            .totaltask,.completedtasks{
                text-align: left;
                color: white;
                font-family: Arial;
            }
           
            .container1{
                padding: 20px;
                border:none;
                border-radius: 15px;
                background-color: rgb(238, 234, 241);
                 box-shadow: 4px 4px yellowgreen;
            }
            .container2{
                display: flex;
                column-gap: 50px;
                border: 2px solid rgb(7, 234, 7);
                border-radius: 7px;
                padding: 10px;
                background-color: blanchedalmond;
                min-width: 0;
                width: auto;
                  min-height: 0;
                height: auto;
                margin-bottom: 10px;
                
            }
            .header{
                 display: flex;
                gap: 60px;
                padding: 15px;
                background-color: rgb(219, 226, 226);
                box-shadow: 3px 3px yellow;
                border-radius: 10px;
                margin-bottom: 25px;
                min-width: 0;
            }
              .addbtn{
                flex: 1;
                 background-color: green;
                border-radius: 35px;
                color: white;
                border: none; 
              transition: transform 0.2s ease;
                
            }
            #input{
                border: 2px solid rgb(6, 237, 6);
                flex: 3;
              overflow-wrap: anywhere; 
border-radius: 18px;    

} 
#input,.addbtn{
    padding: 15px;
min-height: 35px; 
height: auto;
font-size: 25px;

}
p{
    border: none;
    min-width:0 ;
    min-height: 30px;
    border-radius: 20px;
    background-color: rgb(227, 9, 9);
    color: white;
    padding: 10px;
     font-size: 35px;
    display: none;
   

}
.container2,.container1,.donebtn,.spantag,.deletebtn,#input,.header{
    transition: transform 0.2s ease;
}
.addbtn:hover,#input:hover,.deletebtn:hover,.donebtn:hover,.spantag:hover{

    transform: scale(1.08);}
    .addbtn:active,.donebtn:active,.deletebtn:active{
        background-color: rgb(155, 230, 5);
        transform: scale(0.8);
    }
  