* {
  margin: 0;
  padding: 0;
}
.username:hover,.password:hover,.loginbtn2:hover,.loginbtn1:hover,.table-wraper:hover,.logandback:hover{
  transform: scale(1.02);
}
.stu_cont1 {
  display: flex;
  flex-direction: column;
  margin: 0;
  position: relative;

  min-width: 100vw;
  width: auto;

  min-height: 100vh;
  height: auto;
  padding: 20px;
  background: transparent;
  justify-content: center;
  align-items: center;
}
.stu_cont2 {
  display: flex;

  border-radius: 30px;
  min-width: 400px;
  width: auto;
  min-height: 100px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 40px;
  background-color: #dddde5;
   transition: all 0.2;
}
.loginbtn1,
.register {
  flex: 1;
  color: rgb(239, 13, 190);
  font-size: 25px;
  border-radius: 40px;
  padding: 10px;
  border: none;
  color: white;
  background: linear-gradient(
    130deg,
    rgb(227, 190, 5),
    rgb(3, 3, 65),
    rgb(230, 0, 255)
  );
}
.login_card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #b9b9d8;
  padding: 20px;
  min-width: 90%;
  max-width: 100%;
  min-height: 10px;
  height: auto;
  border-radius: 30px;
  gap: 30px;
  display: none;
   transition: all 0.2;
}

.username,
.password,
.loginbtn2 {
  border-radius: 40px;
  padding: 10px;
  font-size: 20px;
  text-align: center;
  min-width: 0;
  border: none;
}
.logandback {
  display: flex;
  padding: 10px;
  width: 50%;
  gap: 15px;
}
.backtoinitial,
.loginbtn2 {
   transition: all 0.2;
  flex: 1;
  border: none;
  color: white;
  border-radius: 20px;
  background: linear-gradient(130deg, green, blue, yellow);
}

.username,
.password {
  width: 75%;
  transition: all 0.2;
}



.dash_board {
  padding: 10px;
  display: flex;
  min-width: 100vw;
  width: auto;
  min-height: 100%;
  height: auto;
  flex-direction: column;
  position: absolute;
  background-color: rgb(9, 193, 101);
  inset: 0;
  row-gap: 20px;
  display: none;
  
}
.header,
.body_ofdash_board {
  border: none;
  text-align: center;
  padding: 10px;
}
.header {
  background: linear-gradient(90deg, #147bba, #b1e604);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 16px 16px 0 0;
  flex: 0.2;
  column-gap: 150px
}
.header h1 {
  font-size: 22px;
  letter-spacing: 3px;
}
.body_ofdash_board {
  display: flex;

  flex-direction: row;
  flex: 1;
  column-gap: 30px;
  border-radius: 0 0 16px 16px;
}
.rightSide,
.leftSide {
 
  border: 1px solid #ccc;
}

.leftSide {
  padding: 10px;
  display: flex;
  flex-direction: column;
  flex: 1;
  row-gap: 10px;
  max-width: 400px;
  background: #1a1a2e;
  border-radius: 6px;
}
.rightSide {
  display: flex;
  flex-direction: column;
  flex: 3;
  background: linear-gradient(
    60deg,
    blue,
    yellow,
    #7af408,
    rgb(154, 9, 237),
    #bafb06
  );
  border-radius: 16px;
  padding: 20px;
  color: rgb(46, 2, 243);
  row-gap: 30px;
  
  box-shadow: 0 8px 10px rgba(7, 152, 242, 0.947);
}
.toSeeResult,
.profile,
.exam-portal,
.status,
.schedule {
  border: none;
  padding: 10px;
  font-size: 20px;
  color: white;
  background: transparent;
  font-weight: bold;
  text-align: left;
  border-radius: 10px;
  transition: all 0.2s;
}

.toSeeResult:hover,
.profile:hover,
.exam-portal:hover,
.status:hover,
.schedule:hover {
  background: rgba(255, 255, 255, 0.15);
  cursor: pointer;
  transform: scale(1.02);
}
.toSeeResult:active,
.profile:active,
.exam-portal:active,
.status:active,
.schedule:active {
  transform: scale(0.9);
  background-color: rgb(6, 231, 59);
}
.table-wraper {
  width: 100%;
  display: none;

}
table {
  width: 100%;
  font-size: 25px;
  border-collapse: collapse;
  background-color: #b9b9d8;
}
th {
  background-color: #3fe303;
}
th,
td {
  padding: 14px 18px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
.profilebody {
  display: flex;
  flex-direction: column;
  width: 100%;
  width: auto;
  height: 100%;
  /* height: auto; */
  font-size: 30px;
  text-align: left;
  padding: 10px;
  line-height: 42px;
  font-weight: bold;
  border-radius: 10px;

  margin: 0;
}
.sgpa {
  text-align: center;
  font-size: 35px;
  background: #7af408;
}
.statusbody{
display: none;
width: 100%;
height: 100%;
}
.statusbody th td{
  background-color: #c2c2d1;
  color: #3fe303;
}
